<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="login.Properties.Settings.ConnectionString" connectionString="Data Source=PC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="login.Properties.Settings.bdAdmisionConnectionString"
            connectionString="Data Source=PC;Initial Catalog=bdAdmision;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
